[2016-06-07 02:11] snstarosciak opened #1 ""Show More" menu doesn't appear with tabs"
Hey there, this plugin is extremely nice and well done :)

The only problem I'm having is that when the number of tabs exceeds the width of the panel container, it does not show the "..." for showing more, it just keeps breaking down into multiple rows. I even tried putting your raw example into my project and it still won't show the "..." Any clue what might be the cause? Here are the relevant ve

[2016-06-07 10:23] maslianok commented on #1
Do you run code locally? Or this bug comes from the live demo?

[2016-06-07 10:49] snstarosciak commented on #1
It's when I run it locally :(

[2016-06-07 11:11] maslianok commented on #1
What browser do you use?

Отправлено с iPhone

[2016-06-07 11:12] snstarosciak commented on #1
I'm using Chrome on Mac OSX

On Tue, Jun 7, 2016 at 8:11 PM, maslianok <notifications@github.com> wrote:

[2016-06-07 12:16] #1 closed

[2016-06-07 12:18] maslianok commented on #1
Please update to v0.5.3

[2016-06-08 03:36] snstarosciak commented on #1
Ah thankyou so much it works perfectly :D

If I may ask...do you know if there's a way inside the component that, when
in responsive mode, none of the tabs are selected, if the page is being
loaded the first time? Like not have the first tab selected by default when
in mobile view? Would something like that be possible?

Thanks again, your plugin is amazing :)

On Tue, Jun 7, 2016 at 9:18 PM, masl

[2016-06-11 16:49] josefbetancourt opened #2 "Local demo fails build"
react-responsive-tabs looks awesome, so wanted to try it.  Lacking a UMD distribution ventured into NPM land.  Trying the local demo an it failed at:   eslint -c .eslintrc src

thanks.

[2016-06-25 09:25] #2 closed

[2016-06-25 09:29] maslianok commented on #2
Sorry that you had to wait so long. I had no time to work on this...

[2016-11-07 08:12] dmitry opened #6 "Replace js-stylesheet with standard stylesheet"
Is there are any specific reason why `js-stylesheet` is used in this module?
Looks like it's much easier to use standard css file, isn't it?

One of the reasons: at the moment it's impossible to switch-off JSS.

[2016-11-07 13:10] maslianok commented on #6
@dmitry It would be awesome if we can get rid of this dependency.
But what do you mean under "standard stylesheet"?

I can see the only one solution here - recommend to import styles in your component, e.g.
[code]

Do you have any other suggestions?

[2016-11-07 14:40] dmitry commented on #6
I meant the same thing too. Just suggest or recommend somewhere in the README documentation how to import stylesheets, but remove any linkage to a stylesheet from the javascript code at all.

Personally I'm using this module in the rails environment (with `react-rails` gem), and CSS is imported in the general CSS file, not JS.

[2016-11-07 17:05] petrdamborsky opened #8 "Dropdown with extra tabs does not close on select"
When I open the 'show more' list with tabs and select one of them, I expect the list to hide. Right now, I have to click the 'show more' again, to hide the list.

[2016-11-07 17:10] petrdamborsky opened #9 "Child components are being rendered even when not active"
I was testing case with 30 tabs. Each has a non-trivial content (e.g. component with SVG content, connected to Redux store). Manipulation with content of active tab was very slow, because all 30 components are actually live even when they aren't visible. This makes the usage of these tabs for anything but simple text/image somewhat slow. The (original) 'react-tabs' do not have this behavior.

[2016-11-09 05:16] maslianok commented on #9
Hi @petrdamborsky,
Thanks for your suggestion!

I totally agree with you. We shouldn't render inactive tabs. I'll work on this feature on the weekend.

[2016-11-09 05:22] maslianok commented on #8
@petrdamborsky
Hopefully, will have time to fix it tomorrow.

[2016-11-13 12:48] #6 closed

[2016-11-13 16:43] #8 closed

[2016-11-16 18:46] petrdamborsky opened #10 "dependencies inconsistence"
When I clone the repo and try to install (at OS X), I am running into [issue](https://github.com/evcohen/eslint-plugin-jsx-a11y/issues/116) with one of the eslint plugins.

There's also an error caused by missing [babel plugin](https://www.npmjs.com/package/babel-plugin-transform-es2015-modules-commonjs).

Cannot install and run example because of this.

[2016-11-16 18:52] petrdamborsky commented on #10
I tried to fix these issues in PR #11

[2016-11-17 04:07] maslianok commented on #10
Merged

[2016-11-17 04:07] #10 closed

[2016-11-30 22:36] dcworldwide commented on #9
That would be great @maslianok. I've been looking for an alternative to Material-UI Tabs, simply because MUI doesn't lazily render tabs. With this feature, my team could adopt this library and benefit from your excellent responsive design work. :+1:

[2016-12-27 06:55] maslianok commented on #9
Starting from v.0.7.0 you can use `getContent` instead of `content` to render only active tab.

Before:

[code]

After:

[code]

Sorry for such a long answer :(

[2016-12-27 06:57] #9 closed

[2016-12-28 00:14] dcworldwide commented on #9
Sweet great work!

[2016-12-29 12:39] nealoke opened #13 "Possible improvements"
Hi!

Great effort at making this component however I have a few improvements which would be super additions in my opinion:

**-> Have item as a child like so**
[code]

**-> Fix issue for older browsers**
I see that you are using flex but this is not widely supported and not so good if you have an application which needs to support older browsers. See [caniuse](http://caniuse.com/#search=flex). IE

[2016-12-30 00:38] dcworldwide commented on #9
Hey @maslianok,  If I lazily load components as my tab content, will those components be unmounted when the current tab is switched? I want to know if switch tabs preserves component state. This is important for nested tabs.

I.e.

2 levels of tabs, a parent and nested.

Parent Tabs = A | B | C where A is selected
Nested Tabs = A1 | A2 | A3

Are the following assertions true?

- When A is rendered

[2016-12-30 01:47] maslianok commented on #9
No, the component unmounts from the DOM tree when it becomes inactive. So the state gets lost.
Actually, we can either render all tab panels or render only active panel and remove others :)

I see two options for you to avoid this:
1. Use `content` for stateful panel with nested tabs:

[code]

2. Keep state in the parent component

[code]

[2016-12-30 01:55] maslianok commented on #13
Hi @nealoke,
Thanks for your proposal!

1. Yeah, that makes sense. Let me play with it a little bit to see all pros and cons.
2. I think we can use autoprefixer to transform styles during the build process. What versions of IE should we support? IE >=10?

[2016-12-30 01:58] dcworldwide commented on #9
Actually, the more I think about it, the current design is most correct. +1

I think option 2 makes the most sense for me. It is good design to wrap the component in a stateful container.

Thanks @maslianok

[2016-12-30 06:13] dcworldwide opened #14 "Seems like lazy rendering breaks selectedTabKey"
I have the following component:

[code]

Where selectedTabKey = 1 and the tabItems array has 2 elements, with keys 1 and 2. When I render the tabs component, no tabs contents are rendered. I have to click either tab 1 or 2 to trigger rendering of content.

[2016-12-30 06:14] maslianok commented on #14
I'll check it today. Sorry for this

[2016-12-30 06:19] dcworldwide commented on #14
Ok seems that my Tabs component is rendering twice. On first render, selectedTabKey = -1 and therefore doesn't map to any of the tab keys. So this explains why no content is rendered.

I have an async request that resolves (apollo client) a little later after the initial render. At that point, the Tabs component is re-rendered, with selectedTabKey = 1. Interestingly, the Tabs component doesn't see

[2016-12-30 06:25] dcworldwide commented on #14
Retracting. This is my mistake. Sorry if you spent anytime looking at it.

[2016-12-30 06:25] #14 closed

[2016-12-30 10:28] nealoke commented on #13
@maslianok

To me it makes not too much sense to have only text in a tab (because it is in an array or so) :) Would love to put custom components in a tab.

I would go down to 9 or 8 even. (there are more people using these then 10), I know it is a pain.

One more thing that might be nice to have is the ability to only render the selected tab, but on tab switch, don't unmount the component but rat

[2016-12-30 17:27] nmaves opened #15 "Implement a change log and use release notes"
I would really help the community if you would add these to each release.  As you know it is hard to keep up to date in the JS world.

Thanks again for a great product!

[2017-01-12 00:36] dcworldwide opened #16 "Tab Content not re-rendering on props change"
I'm having issues re-rendering a tab's content. Perhaps https://github.com/maslianok/react-responsive-tabs/blob/master/src/components/Tab.js#L8 is blocking my re-rendering from happening.

Example
----

I have a tab as follows:

[code]

this.props.dimensions.width tracks the width of the table's parent panel. This width of this panel can be re-sized by the user within my app. After they finish res

[2017-01-18 07:00] dcworldwide commented on #16
@maslianok One idea that I had, was if we could override/mutate the ShouldComponentUpdate logic.

I.e.

[code]

Tab's ShouldComponentUpdate would then use this shouldUpdate function to determine if a re-render is required.

What do you think? I'm sure there are other solutions.

[2017-01-26 04:43] vincentaudebert opened #17 "Missing dependency?"
Thanks for this excellent plugin.

I'm a bit confused I'm trying to import it in my project and I get this error:
[code]

I'm using node 6.9.0 and the associated npm 3.10.8

Do I need to install `babel-plugin-transform-class-properties`?

Thanks.

[2017-02-02 08:04] dcworldwide commented on #16
@maslianok I think I will submit a PR. To save time, please comment on a proposed design for this. I have little time so want to make sure you will accept PR. Thanks

[2017-02-03 03:34] maslianok commented on #16
@dcworldwide

Hi, it's quite popular problem across many libraries.
For example, I've faced up with a similar problem for react-virtualized. They suggested one solution that may work for us as well.

The main idea is to change tab props when you need this.
Can you try to add `this.props.dimensions.width` as a property of tab?

[code]

It should force rerendering on each `width` change.

[2017-02-03 04:04] maslianok commented on #17
I'm not sure why are you receiving this error.

It should import a module that was already processed by babel.

We have two directories:
`src` - raw code for development (ES6, JSX etc.)
`lib` - code processed by Babel (ES5, ready to use code)

When you import the module to your components it [should connect files from the `lib` folder](https://github.com/maslianok/react-responsive-tabs/blob/master

[2017-02-03 04:05] maslianok commented on #15
Great suggestion! I will definitely add release notes to our next releases.

[2017-02-03 04:05] #15 closed

[2017-02-03 08:33] dcworldwide commented on #16
Neat idea, will try it out this weekend

[2017-02-06 21:34] vincentaudebert commented on #17
I import like that `import Tabs from 'react-responsive-tabs';`

And this is my webpack config:

[code]

Could it be because I have a common bundle separate?
When I installed the missing babel plugins locally it worked fine though...

[2017-02-07 23:38] dcworldwide commented on #16
Ok after some debugging I've realized the below code is working correctly

[code]

When I adjust the width of the tabs container, the following is called

[code]

For me, shouldComponentUpdate is returning true. I'm not sure if this.props.items !== nextProps.items is true, but  nextState.blockWidth !== this.state.blockWidth is returning true.

So when render is called, I'd expect due to the change

[2017-02-18 16:40] #16 closed

[2017-02-24 01:03] dcworldwide opened #19 "Idea: Port material-ui styles"
I'm thinking about porting the ink bar styles from http://www.material-ui.com/#/components/tabs to this component. What do you think?

It might be something that we can enable via a flag.

[2017-03-10 10:45] Eliceeeeeee opened #20 "Error on console"
Warning: You are manually calling a React.PropTypes validation function for the `items` prop on `Tabs`. This is deprecated and will not work in production with the next major version. You may be seeing this warning due to a third-party PropTypes library. See https://fb.me/react-warning-dont-call-proptypes for details.

Is it possible using the latest version of react function on it?
Thank you!!!

[2017-03-17 19:14] aethant opened #22 "Close individual tabs?"
Is there a way to close individual tabs from the UI of the component, similar to closing an individual tab in your browser? The docs don't indicate, but I'm wondering if I'm missing it.

[2017-03-19 11:01] maslianok commented on #19
Thanks for the contribution! 🎉  Awesome work 👏 👍
Merged

[2017-03-19 11:01] #19 closed

[2017-03-20 01:38] maslianok commented on #20
Hi, @Eliceeeeeee

What version of tabs do you use?
I've checked it with the last version of React and I couldn't reproduce the error...

[2017-03-21 03:01] maslianok commented on #22
Hi @aethant

The component doesn't keep tabs in the state. Everything renders from the props. The component itself is stateless. So it's your responsibility to process user events and change the props (items) as you want.

But it's very popular question, so I decided to create an example on this.

Demo: http://maslianok.github.io/react-responsive-tabs/
Source code: https://github.com/maslianok/rea

[2017-03-21 03:01] #22 closed

[2017-03-21 03:05] aethant commented on #22
I'll take a look. Thank you!

[2017-05-24 18:21] ErreMalote opened #24 "InkBar gets misplaced"
if we use the "showMore" feature and the "InkBar". the tabs inside the showMore don't get higlited properly with the inkbar

[2017-05-30 19:33] ErreMalote opened #26 "Release version 1.1.0 to NPM"
Hi @maslianok,

Could you release the 1.1.0 to NPM so we can install with npm. Thanks.

[2017-06-09 06:05] A1ex5andr opened #27 "API for classes names doesn't match"
Actual RRT props don't match ones described in API documentation.

[code]

Where:
[code]

[2017-06-11 23:52] mightyvyan opened #28 "Typescript definition"
Can you create the typescript definition file upload the node module pack at @types/react-responsive-tabs?

[2017-06-23 08:32] LeoAref commented on #13
@maslianok Do we have any update on the first point? I could make PR for it

[2017-06-29 08:19] ksngits opened #29 "npm dependancy issue"
Hi, Could you please make it compatible with latest.

Seems linked to earlier issue raised [Release version 1.1.0 to NPM](https://github.com/maslianok/react-responsive-tabs/issues/26)

[2017-07-04 15:50] stephen-oconnor opened #30 "wrapperClass not showing"
Where should the wrapperClass appear in the markup?

I have the following code and the tabClass and panelClass are showing up in the markup but the wrapperClass is not. Anything obvious I am doing wrong?

[code]

[2017-08-29 10:51] #30 closed

[2017-08-29 10:51] maslianok commented on #30
Sorry, it should be `tabsWrapperClass`. Already fixed documentation.

[2017-08-29 10:54] maslianok commented on #28
@mightyvyan Sorry, I'm not sure that I understand your request...

[2017-08-29 10:57] #27 closed

[2017-08-29 10:57] maslianok commented on #27
Thanks for the observation! Fixed

[2017-08-29 11:04] maslianok commented on #29
Sorry for this. Done.

[2017-08-29 11:04] #29 closed

[2017-08-29 11:04] maslianok commented on #26
I'm really sorry for this. Done

[2017-08-29 11:04] #26 closed

[2017-08-29 11:06] maslianok commented on #17
This error should be fixed in the latest release.
Please, let me know if this error still occurs.

[2017-08-29 11:06] #17 closed

[2017-08-29 11:07] maslianok commented on #20
Closing due to inactivity

[2017-08-29 11:07] #20 closed

[2017-08-29 11:10] maslianok commented on #24
Yeah, that's true.
This feature is not so easy to implement and, unfortunately, I don't have too much time to work on this right now. So, it would be nice if you can help with this...

[2017-08-29 11:20] maslianok commented on #13
Guys, I'm really sorry for not answering you for a long time.

@LeoAref What benefits do you see in @nealoke's suggestion?
I think you can do the same with our current object-oriented approach. Moreover, now we have `getContent` function, that helps you to render tabs lazily (I'm not sure that this is possible with suggested approach).

[2017-08-29 11:20] #28 closed

[2017-08-29 13:04] spiroski opened #31 "Cannot read property 'offsetWidth' of undefined"
Hello, the release of the newest version (1.1.2) seems to have a bug. I get this error after updating:

[code]

[2017-08-29 13:29] #31 closed

[2017-08-29 13:30] maslianok commented on #31
Thanks for reporting this. Fixed in 1.1.3

[2017-11-20 15:49] adityatambe opened #34 "Warning: Tabs has a method called shouldComponentUpdate()."
I encountered this warning while using react-responsive-tabs:

`Warning: Tabs has a method called shouldComponentUpdate(). shouldComponentUpdate should not be used when extending React.PureComponent. Please extend React.Component if shouldComponentUpdate is used.`

I suppose using Component instead of PureComponent will resolve the issue.

[2017-11-20 23:02] #34 closed

[2017-11-20 23:02] maslianok commented on #34
Fixed in v1.3.0

[2017-11-20 23:03] maslianok commented on #13
Close this for now. Please let me know if you want to continue discussion

[2017-11-20 23:03] #13 closed

[2017-12-11 18:43] maslianok commented on #24
Fixed in v2.0.0

[2017-12-11 18:43] #24 closed

[2018-01-12 10:46] tbiinfotech opened #38 "Change show more ... with icon"
Thank you for this awesome module.

There is no option for changing the show more dots (...) can we change it with the help of icon?

[2018-02-25 16:24] #38 closed

[2018-03-20 13:38] tlehtimaki opened #40 "Incorrect peer depenedency with latest create-react-app"
react-responsive-tabs@2.0.2" has incorrect peer dependency "react@^0.14.7 || ^15.1.0".

[2018-04-02 16:26] maslianok commented on #40
Thanks!
Fixed in v2.1.0

[2018-04-02 16:26] #40 closed

[2018-07-11 11:34] sanathko opened #41 "close already opened accordion in mobile"
The current implementation shows an accordion in mobile and when an accordion panel is opened, we have to click another accordion item, to close the previously opened item.
I would like to know if there is a way to click on the already opened accordion panel, to close it (kind of a toggle behavior).

[2018-07-16 04:49] sanathko commented on #41
I've implemented a solution to this problem in my fork (https://github.com/sanathko/react-responsive-tabs). I can't raise a PR because I don't have the proper access to push a branch to maslianok/react-responsive-tabs.

[2018-07-18 16:12] maslianok commented on #41
Hi @sanathko
I reviewed your fork but I think I have a better solution for this task.

This feature is implemented in v3.0.0

Thanks for the feature request!

[2018-07-18 16:12] #41 closed

[2018-07-19 23:24] sanathko opened #42 "Open multiple active panels in the accordion view of the tabs in mobile"
This is related to the changes that I've done in my fork. (https://github.com/sanathko/react-responsive-tabs) This was a feature required for our implementation of the tabs in mobile and I think it's a good feature to have. Users will be able to open multiple accordion panels and close any one of the already opened panels.

[2018-08-07 11:39] maslianok commented on #42
I think I have to reject this feature request.

The main purpose of this library is Tabs. Tabs always have one Tab active.

Some time ago we added a feature which allows us to close all tabs (have no active tabs).
And now you're asking to have multiple open tabs... I'm afraid that by adding such features we are moving away from the main purpose of this library - Tabs. And create a complex, bug-pro

[2018-09-18 09:13] btechgroup opened #43 "HTML rendering in tab contents"
hi guys,

I am trying to render html inside the tab contents. Can you please help?

Regards,
Owais

[2018-09-18 09:31] tlehtimaki commented on #43
@btechgroup would you happen to have an example of the code which is not working?

[2018-09-18 09:33] btechgroup commented on #43
thanks @tlehtimaki , I got it working, was using a function to return html contents for tabs and there was error in that function.

[2018-09-19 14:50] senglert1124 opened #44 "Issue rendering basic tabs"
I am getting the following error:

Exception thrown by hook while handling onSetChildren: Invariant Violation: Expected onMountComponent() to fire for the child before its parent includes it in onSetChildren().

Here is the code:

[code]

[2018-09-19 15:56] senglert1124 commented on #44
Thanks for the quick response.  Yeah.  I tried that, but same error.  I know the component structure is fine since it renders fine if I exclude <Tabs items={this.state.items} />.  It even errors if I hard code the item in the render.  Feels like a dependency is missing, but not sure.  I'll keep looking at it.

[2018-09-28 10:31] btechgroup opened #45 "Tab losing focus on keyboard input/link clicked"
Hi,

I am using form in a tab panel. whenever I use to fill in the form the tab resets to initial state(first tab).
Can you please help to sort out the issue.

Regards,
Owais

[2018-11-13 06:41] #43 closed

[2018-11-13 06:44] maslianok commented on #42
Closing due to inactivity.

[2018-11-13 06:44] #42 closed

[2018-11-13 11:58] maslianok commented on #44
I think it's too late trying to help you but I'll try to resolve this issue for anyone who will come here with the same problem :)

----
Actually, I'm able to run the exact code from the example above without any errors.

I tried to google the error you faced up and seems it may be a problem with React:
https://github.com/FineUploader/react-fine-uploader/issues/129
https://github.com/cerner/terra-

[2018-11-13 11:58] #44 closed

[2018-11-16 17:58] siivanti opened #47 "allowRemove is rendering "X" underneath tab titles"
I've built a custom remove function but I would prefer to use the native allowRemove function. It is rendering the exit button "X" underneath the tab titles.

render() {
    return (
      <Tabs
        allowRemove={true}
        items={this.getTabs()}
        tabsWrapperClass={"subTabs"}
        onChange={this.props.onSubTabChange}
      />
    );
  }
 getTabs = () => {
    return this.state.subT

[2018-11-17 16:25] spiroski opened #48 "Request: extract the Tabs component without the panel in separate package"
Hello,

Do you think it would be possible to extract only the components for the navigation tabs? I like this functionality ( the responsiveness ) but I don't use the content/getContent part because I handle it with react router.

If it's extracted as separate package, this package can depend on it and use it, but also it could be used without the panels and content.

P.S. If you like this idea, I

[2019-03-06 11:57] btechgroup opened #50 "transformWidth breakpoint causing inputs to lose focus on keyboard input"
Hi,

transformWidth breakpoint causing inputs to lose focus on keyboard input.  When screen size is lower than the transformWidth and tabs are converted to accordion, it is causing the form inputs to lose focus.

Regards,
Ahmed, Btech

[2019-05-16 18:24] chriggi opened #51 "Keep tabs mounted on tab change"
Is there a way to keep tabs mounted when changing tabs? Similar to the "unmountOnExit" prop in react-bootstrap (https://react-bootstrap.github.io/components/tabs/).

[2019-05-29 17:23] maslianok commented on #47
Probably, you don't need any help on this issue now :)

But it's better late than never, right?
Finally, I have time to review and fix all issues for this library. I tried to reproduce your issue, but, unfortunately, everything works for me.

Let me know if you still need any help with the library

[2019-05-29 17:23] #47 closed

[2019-05-29 17:31] maslianok commented on #48
Sorry for the huge delay with the response. Finally, I have time to review all the issues for this library.

I definitely like the idea of extracting tabs to a separate component. Probably it's too late to accept your proposal to help with this. But maybe you already did it for your project in the past, so it would be great if you can share the code with everyone!

I'm closing the issue for now. W

[2019-05-29 17:31] #48 closed

[2019-05-29 17:43] maslianok commented on #50
Sorry for the huge delay with the response. Finally, I have time to review all the issues for this library.
And I think it's better late than never :)

You're right.
A TabPanel gets unmounted and mounted again. That's why all inputs inside lose focus. Unfortunately, I don't know how to build the same logic without remounting.

To solve your problem I would add some additional React logic:
- add re

[2019-05-29 17:43] #50 closed

[2019-05-29 17:49] maslianok commented on #51
Currently, react-responsive-tabs doesn't support this.

But it's definitely nice to have feature 👍
It would be great if someone helps us to implement this!

[2019-07-12 13:49] TravelPaddy opened #52 "Programatically trigger tab change"
In  a situation where by I have two tabs on a particular page, I want to be able to reload the page and switch back programmatically to the tab that I was on before.

[2019-09-18 14:54] maslianok commented on #52
For all who come here with the same problem: you can keep your tab id in the URL-hash or save to local storage and set `selectedTabKey` prop when initialize the component

Something like this
[code]

[2019-09-18 14:54] #52 closed

[2019-09-22 15:03] shabab477 opened #54 "Center align tabs"
Is there a way to configure tabs to be center aligned? Spreading out from the middle?

[2019-10-03 08:47] TravelPaddy opened #55 "An Option To Prevent Tab From Changing"
Is it possible to display a confirm prompt when another tab is clicked before it switches? Like let's say when you have an unsaved work on the page and you would like to prevent tab navigation, so that the user can choose to stay or leave the page.
Or else how can I disable tab navigation? Such that it remains on one tab and the other tabs are disabled.

[2020-01-30 17:01] archer-jsonderman opened #63 "Feature Request: Add ability to include anchor tag in tab"
This is a feature request that is mainly for the mobile view of this, when the tabs turn to accordions.

I would like to be able to prepend the tab content (title) with an anchor tag so that I can create jump links from a nav menu. Currently I don't see a way to inject a tag in the tab title to achieve this.

[2020-01-31 17:10] tlehtimaki commented on #63
Would you be able to write pseudo code about what you would like to do? I could create a PR to see if it would be something feasible to do. 😊

[2020-01-31 18:24] archer-jsonderman commented on #63
let me dig into it this weekend and see. I haven't looked into the src of this too much yet to see what all is going into create those tab items.

[2020-01-31 20:26] archer-jsonderman commented on #63
Actually, I figured out how to do this without altering the source code.

The title property can take array or a string (and an Object it looks like). Passing it an array will render each item in order. I passed an <a> tag in the first index, and the text of the tab in the second. Rendered as expected.

`title:[<a name={props[program].tabName}/>,props[program].tabName]`

Maybe a way to wrap the co

[2020-02-02 16:17] maslianok commented on #63
@archer-jsonderman correct, `title` can be a react element, so you can use something like
[code]

of course, you can style the link as you want.

[2020-02-04 02:49] #63 closed

[2020-02-11 19:32] MJBNetDev opened #64 "When re-rendering component the tabs are wrapping."
I am using react-responsive-tabs to display categorized results from a search.   As the user types I am re-rendering based on the results.     There are times as the number of tabs changes the tabs wrap and do not show the "..." more tab.    However if I click on a tab that is not active it fixes itself.

[code]

![Screen Shot 2020-02-11 at 2 39 25 PM](https://user-images.githubusercontent.com/138

[2020-04-04 04:39] secabhi commented on #64
I am also facing same issue. the only way around is once you render don't re-render it.
Once you setSate for tabs list don't empty the list and set again same data in list.

[2020-05-01 15:53] rkteja commented on #64
Facing the same. I am trying to update the count so render will happen due to the tabs are getting wrapped.
If there is any work around let me know.

[2020-05-14 17:51] muhammadzubairmoosani opened #67 "Optional parameters"
Optional parameters are not working, I think I'm doing something wrong, I want to include
"**transform width: 500**" what do I do?.

`const GobalTabs = ({ array }) => {
  const getTabs = () => {
    return array.map((content, index) => ({
      title: content.title,
      getContent: () => content.component,
      transformWidth: 500,
      key: index,
      tabClassName: "tab",
      panelClassNa

[2020-05-15 00:10] nvgopi commented on #67
Did u try.. as a props to Tabs just like below?

<Tabs transformWidth: 500 items={getTabs()} />;

[2020-05-15 10:52] maslianok commented on #67
<Tabs transformWidth={500} items={getTabs()} />

[2020-05-15 10:52] maslianok commented on #67
[code]

should work

[2020-05-15 10:52] #67 closed

[2020-05-15 18:30] muhammadzubairmoosani commented on #67
Yes! this logic is working well and the issue is resolved to Thank you! nvgopi

[2020-06-05 10:36] maslianok commented on #51
Added `unmountOnExit` prop. Please update to v4

[2020-06-05 10:36] #51 closed

[2020-06-05 10:41] maslianok commented on #54
there is no specific property for this but I believe you can override all default styles and make it look as you want

[2020-06-05 10:41] #54 closed

[2020-06-05 11:00] maslianok commented on #55
in the v4.0.1 we added `beforeChange` callback. You can return `false` in order to prevent a tab change.

Let me know if you need any additional help

[2020-06-05 11:01] #55 closed

[2020-06-05 12:01] maslianok commented on #64
Hey guys,

thanks for your feedback 👍 should be fixed in v4.1.0.

In addition to this now you can use an optional `uid` prop. Change it manually when you need to re-render the component based on some external data.

Let me know if you need any further help

[2020-07-01 03:37] stefensuhat opened #69 "Disabled Tabs"
I've tried modified selected tabs using for example

[code]

but still cannot disabled any selected tab.

is there any method to disabled a tab?

[2020-07-01 03:38] stefensuhat commented on #69
my bad. it's not written in docs. but i can just put disabled.

[2020-07-01 03:42] stefensuhat commented on #69
After testing it, the cursor is show disabled icon but the tab can be clicked. i think it's a bug

[2020-07-01 07:53] maslianok commented on #69
If you want to prevent tab change - use `beforeChange` callback. It receives an object `{ selectedTabKey, nextTabKey }`.

`onChange` callback fires **_after_** the tab changes

[2020-07-01 11:42] stefensuhat commented on #69
Thanks it works.

[2020-07-01 11:42] #69 closed

[2020-07-08 14:49] ritenv commented on #28
Does not work with TypeScript, `@types/react-responsive-tabs` does not exist.

[2020-07-08 18:47] maslianok commented on #28
@ritenv can you help us with this?

If you don't have time - can you at least post some links on how to create these TS modules.

I'm not sure that I have time to work on it these days, but maybe someone else will invest some time into it...

Thanks in advance!

[2020-08-12 01:06] War777 opened #72 "Inconsistent Inkbar position/width when the body font family changes."
**Steps to reproduce**

- go to [http://maslianok.github.io/react-responsive-tabs/](http://maslianok.github.io/react-responsive-tabs/)
- Open the chrome dev tools.
- Change the body font family.

![image](https://user-images.githubusercontent.com/8116485/89963376-1bf5ca80-dc0d-11ea-9bd1-9891d5e303f2.png)

**Result:**
The inkbar position doesn't match  its position and width related to the selected

[2020-08-12 07:58] maslianok commented on #72
There is a special prop called `uid`. all dimensions get recalculated when it changes.

In the above case you can set it to the font-name, so the library recalculates tabs width when the font changes:

[code]

[2020-08-12 20:08] War777 commented on #72
Got it, I'll try that, sounds like a good trick (I'll closed this issue after testing it, thanks).

[2020-08-24 10:00] maslianok commented on #72
@War777 closing due to inactivity

[2020-08-24 10:00] #72 closed

[2020-09-07 09:15] Sabarish-Vasudevan commented on #64
This issue is still there in v4.1.1. Is there any workaround for this? Using the optional uid prop also does not work. Any other suggestions to fix this would be greatly appreciated.

[2020-09-07 10:13] maslianok commented on #64
@Sabarish-Vasudevan

The component width gets recalculated on every `<Tabs />` rerender.

**_In case you change the tab title dynamically_** (e.g. your data gets fetched inside the tab component or something like this) **_you have to trigger rerender manually._**, because there is no way for the <Tabs /> to understand that something was changed.

For this you can pass a `uid` prop as I mentioned a

[2020-09-07 11:40] Sabarish-Vasudevan commented on #64
This is exactly what i am doing. I am not only changing a tab's label dynamically but i am also adding a new tab dynamically. Providing a uid does not solve this issue. Please find below the link to the codesandbox. It is not an exact replica of the code as I am not at liberty to share it, but it is what i am doing. The tabs are displayed after a API call which has the list of tabs a user has crea

[2020-09-07 12:23] maslianok commented on #64
The code you sent works as expected for me.

In which part of the app you send the API call?
Where do you store the list of tabs? (in the component's state?)
Do you update the component that renders the `<Tabs ... />` after you finish the API call?

[2020-09-08 06:14] Sabarish-Vasudevan commented on #64
Hey, sorry for the delayed response.
- The API call happens during the parent component's mount cycle.
- Yes, the list of tabs is stored in the component's state.
- Yes, Once the API call is done the component is updated. It is also updated whenever a tab's name is changed / whenever a new tab is added.

[2020-09-09 06:01] maslianok commented on #64
Unfortunately, I can't reproduce the bug by the description you provided and you can't provide a code snippet where the bug reproduces.

In this example https://codesandbox.io/s/dazzling-wing-lys8h I change tabs dynamically after 5 seconds the component mounts. And everything works as expected

[2020-09-17 06:18] kishan-tocca opened #74 "how do i implement add more common tab button"
[code]
![tabs](https://user-images.githubusercontent.com/66630960/93427974-545b8900-f8dc-11ea-9475-2d3335daa870.png)

[2020-09-21 10:03] maslianok commented on #74
you can try to add "Add keynote" tab to the end and write some logic to process clicks on that tab.

react-responsive-tabs doesn't provide that functionality out of the box

[2020-09-21 10:03] #74 closed

[2021-01-13 04:03] snannan268 opened #77 "Item is object, checking object equality with '===' will not get expected result."
https://github.com/maslianok/react-responsive-tabs/blob/c2e30b7957dfafd94459b09ffb473f1e5ee1f0e0/src/index.js#L68

As the item is object,  so use '===' approach to check the equality will get an incorrect result.

More detail could reference: http://adripofjavascript.com/blog/drips/object-equality-in-javascript.html

Or for here, we could jsut check the title changes or not, since the tab width ju

[2021-01-13 08:39] maslianok commented on #77
It doesn't matter what type of equality you use.
The condition returns `false` for different instances and `true` for the same instance.

But I tend to agree with your suggested change: the `title` prop is a kind of required prop and I can't imagine someone uses the module without it. So it's better to check this prop instead of object instances.

Thank you, @snannan268 for your efforts 👍

[2021-01-13 08:40] #77 closed

[2021-01-13 08:41] maslianok commented on #77
Published in v4.2.0

[2021-01-19 02:22] kimyunhye commented on #64
@maslianok
 There are times as the number of tabs changes the tabs wrap and do not show the "..." more tab.

 https://codesandbox.io/s/dazzling-wing-lys8h
 Tab.js
 `
class Tab extends Component {
  state = {
    tabs: presidents // do not show the "..." more tab after 5 seconds
  };
 `

I'm not sure if I'm right, I sovled
 https://codesandbox.io/s/dazzling-wing-lys8h
 Tab.js
 `
class Tab extends C

[2021-01-27 08:07] maslianok commented on #64
@kimyunhye
are you saying that [this](https://codesandbox.io/s/dazzling-wing-lys8h) example doesn't work for you?
It doesn't show the `...` tab after 5 seconds?

Do you see any errors/warnings in console?
What browser do you use?

[2021-02-02 05:23] kimyunhye commented on #64
I don't speak English as my first language, so my writing may not be understood

my browser chrome 74.0.3729.169 for window10 64bit

your exmple Tab.js (full)
`
import React, { Component } from "react";
import Tabs from "react-responsive-tabs";
import "react-responsive-tabs/styles.css";
import { uniqueId } from "lodash";

const presidents = [
  { name: "George Washington", biography: "..." },
  {

[2021-02-02 05:41] kimyunhye commented on #64
codesandbox console
(after 5 seconds)

Warning: findDOMNode is deprecated in StrictMode. findDOMNode was passed an instance of ResizeDetector which is inside StrictMode. Instead, add a ref directly to the element you want to reference. Learn more about using refs safely here: https://fb.me/react-strict-mode-find-node
    in div (created by ResizeDetector)
    in ResizeDetector (created by Tabs)

[2021-02-02 08:38] maslianok commented on #64
Don't worry, your English is good enough to discuss the problem

ok, I think I know the problem. Let me work on it

[2021-02-02 09:05] maslianok commented on #64
@kimyunhye please try v4.3.0

[2021-03-10 12:51] aZolo77 opened #83 "Issue with styles"
Hi!
Everything is working fine except that tabs are only shown as an accordion. I render Tabs in a modal window - maybe it affects somehow?

my code:

[code]

[2021-03-11 08:02] aZolo77 commented on #83
When I change modal window width more then 800px - tabs  are rerenderin. But I added transformWidth: 400 and still, they change only on 800px.

[2021-03-12 09:53] #83 closed

[2021-03-12 09:56] aZolo77 commented on #83
For me it was really not clear, that i should use 'transformWidth' not in
[code]

[2021-03-18 06:09] swd72 opened #85 "Run in ie11"
run in ie11 not working

[2021-03-20 12:34] maslianok commented on #85
Hey, thanks for reporting an issue.

It should work in v4.4.0

[2021-03-20 12:34] #85 closed

[2021-03-20 12:34] #64 closed

[2021-03-20 12:48] maslianok commented on #83
Hey @aZolo77,

Thanks for the suggestions!

All props described in the API section related to the `Tabs` component. There are no other places to add these props to.

But I added an additional notice

[code]

I hope it will make things more clear :)

[2021-04-19 17:38] thanmaic commented on #64
@maslianok I still face the same issue even on the latest code. Please help resolve it.
I am using the Tabs Removal example. But still face this issue of tabs wrapping to new line below instead of showing the '...' .

[code]

<img width="1190" alt="Screenshot 2021-04-19 at 11 02 22 PM" src="https://user-images.githubusercontent.com/50735542/115278635-4ff19a00-a163-11eb-97a2-254b5e6f5110.png">

@ma

[2021-04-20 04:49] thanmaic opened #89 "On Tabs removal or tabs addition the tabs component are wrapping without showing 'show more' icon"
@maslianok @dcworldwide  I still face the same issue even on the latest code. Please help resolve it.
I am using the Tabs Removal example. But still face this issue of tabs wrapping to new line below instead of showing the '...' .

[code]

<img width="1190" alt="Screenshot 2021-04-19 at 11 02 22 PM" src="https://user-images.githubusercontent.com/50735542/115278635-4ff19a00-a163-11eb-97a2-254b5e6f5

[2021-04-23 08:44] maslianok commented on #89
@thanmaic Thanks for reporting the issue.

Can I ask you to create a codesandbox example that reproduces the bug?

Something like I've created earlier https://codesandbox.io/s/dazzling-wing-lys8h?file=/src/Tab.js

From the first look, I suppose you have some wrong wrapper styles (`itemRemoval__wrapper` or upper parents) that prevent the library to measure block width. But it's hard to say for sure

[2021-04-23 09:30] thanmaic commented on #89
This is the same code as in here https://github.com/maslianok/react-responsive-tabs/tree/master/examples/src/TabsRemoval.
When i tried to execute the same in my project i got the issue as shared above.

I tried to remove the itemRemoval__wrapper style as well, but i run into same issue.

[2021-04-23 10:24] maslianok commented on #89
Please, create an example at codesandbox.io or any other online sandbox

[2021-04-23 10:42] thanmaic commented on #89
Hi @maslianok,
Here is the example on codesandbox https://codesandbox.io/s/interesting-oskar-uyy15?file=/src/Example.js
Please check and help me out to resolve the issue.

[2021-04-23 10:54] thanmaic commented on #89
<img width="1792" alt="Screenshot 2021-04-23 at 4 22 01 PM" src="https://user-images.githubusercontent.com/50735542/115861137-0c8f7800-a450-11eb-92c9-d1d3695eafb5.png">

In the above Example code when i try to select the tabs and when i try to delete any of the tabs it would lead to something like this in the above screenshot.
The expected is that I select different tabs or i delete any the show m

[2021-04-23 10:55] maslianok commented on #89
@thanmaic that's what I see when I open your link

<img width="868" alt="Screenshot 2021-04-23 at 13 50 51" src="https://user-images.githubusercontent.com/3485490/115861039-f925e200-a43a-11eb-92a6-f19bdceb8405.png">

There must be some problem with styles. Please, don't rush and check everything.

Check that everything works and you see the bug you described in the issue.

Don't worry, I would hel

[2021-04-23 10:57] maslianok commented on #89
Ok, great 👍

we finally found the problem :) The tab should be deleted in order to reproduce the bug.

I'll work on it

[2021-04-23 11:03] thanmaic commented on #89
Ok sure.

This issue/problem happens in 3 scenarios: 1.) when i try to switch from one tab to another, 2.) when i try to delete the tab, 3.) when i try to add a new tab to the array.

Any expected time frame to fix it, as this is something priority in my list? Please let me know once it is fixed and working.
Even i will give it a try. :)

Thanks

[2021-04-25 05:12] thanmaic commented on #89
@maslianok Any update on the fix or any workaround for this issue?

[2021-04-27 12:21] maslianok commented on #89
@thanmaic fixed in v4.4.1

[2021-04-27 12:21] maslianok commented on #89
Thank you for your feedback 👍

[2021-04-27 12:21] #89 closed

[2021-05-03 05:17] thanmaic commented on #89
@maslianok The issue seems fixed. Thanks

Just curious to know when I add the library in my project it does work as expected. But when i try to download the library and copy the src/ folder to my project as I need some customisation on things it doesn't work as expected. I did install react-resize detector as well.

Any reason why it doesn't work or anything more to be done along with it?

[2021-05-05 05:03] thanmaic opened #90 "Hidden tabs and Visible tabs list"
@maslianok Is there a way where we can find the visible tabs and hidden tabs at any point of time?
I mean to ask can we know the list of tabs that are visible and the list of tabs that are under the 'show more' dropdown?

And also if a tab is selected from dropdown list can we show the selected tab name instead of '...' ?

[2021-05-07 06:10] thanmaic commented on #90
@maslianok any update on this?

[2021-05-07 14:50] maslianok commented on #90
There is no built-in logic for this. You can use standard HTML/JS features to achieve this. For example, you can count children under `.RRT__showmore` element

Yes, we have `showMoreLabel` prop. You can change it according to the currently selected tab

[2021-05-07 14:58] maslianok commented on #89
`src` is the source code. Your app uses the `lib` folder when you install `react-responsive-tabs` via npm or yarn.

`lib` is the transpiled version of `src` with help of webpack and webpack config (`.babelrc`). You must use the same plugins in order to achieve the same result

[2021-05-07 14:58] thanmaic commented on #90
Ok will try to work based on your advice. Thanks

[2021-05-07 14:58] #90 closed

[2021-05-07 15:01] thanmaic commented on #89
Could you please advice me on the steps to follow as to run the code from my local instead of npm library as i need some customisations in it?

[2021-05-07 15:10] maslianok commented on #89
There is no simple answer. You're trying to use the library in a way it was not designed to be used. And I have no manual on what should you do to directly inject it into your codebase.

[2021-07-01 14:23] K3vinF opened #98 "Render all tab content on the page?"
For SEO purposes I would like to have all tab content available on the page. That way search engines can index the content.
Browsing through the code this doesn't seem possible right now?

Or am I missing an option?
I was expecting 'content' to always get rendered, while getContent would be rendered only when the tab gets visible?

[2021-07-07 13:39] AdamWills opened #99 "Debugging code is on npm?"
I've installed this component via npm and am seeing some strange behaviour that I don't quite understand.

On running this the first time, the debugger kicked in... which was strange. I've opened up the `react-responsive-tabs` folder in `node_moduels` and in `lib/index.js`, there's numerous `console.log` statements and even a `debugger` line.

![Screen Shot 2021-07-07 at 9 38 37 AM](https://user-i

[2021-07-08 09:17] K3vinF commented on #99
Yes,  I can confirm this.
I ran into the same issue on the latest version (4.4.1)

[2021-07-09 14:58] mohamedumer opened #100 "Error When reload"
offsetwidth width is undefined sometimes when reload.

[2021-07-26 14:12] ShariqAteeq opened #101 "Tab is selected but it is not applying a active class. i have to double click on tab"
const CommonTabs = ({ array, onChange, path }) => {
  const router = useRouter();
  const { tab } = router.query;

  const getTabs = () => {
    return (array || []).map((content, index) => ({
      title: content.title,
      getContent: () => content.component,
      key: index,
      tabClassName: "tab",
      panelClassName: "panel",
    }));
  };
  return (
    <Tabs
      transformWidth={600

[2021-08-11 09:11] maslianok commented on #98
Yes, the library has the `content` prop but it works in a different way:

`content` is a sync prop. You can use it to always render a hidden content, e.g.
[code]

`getContent` is an async prop. Use it whenever you need to delay content rendering, e.g.
[code]

---
`content` is a deprecated property, so it's not mentioned in the readme, but now I see that it may be useful in some cases. I'll update

[2021-08-11 09:12] #98 closed

[2021-08-11 09:29] maslianok commented on #99
Sorry guys, this should be fixed now 🙄

[2021-08-11 09:29] #99 closed

[2021-08-11 09:31] maslianok commented on #100
It's hard to say what is the reason for this bug.

Can you check the most recent build - do you still see the error?

Can you please provide some code snippet that reproduces it?

[2021-08-11 09:31] #100 closed

[2021-08-11 09:32] maslianok commented on #100
Sorry for the late answer. I hope the problem is already gone. If not - I'll reopen the issue

[2021-08-11 09:36] maslianok commented on #101
Can you try to remove this line `router.replace(${path}?tab=${e});`?
Does it work without it?

I think `router.replace` triggers full rerender and somehow messes everything up...

[2021-08-13 08:52] K3vinF commented on #99
👍🏻 Great, thanks!

[2021-10-21 19:31] grinyahoo opened #113 "TypeError: Cannot read property 'width' of undefined."
Cast to `Boolean` in https://github.com/maslianok/react-responsive-tabs/blob/master/src/index.js#L147 leads to error above when width is 0 and there are no tabs shown. Check for `undefined` instead.

https://github.com/maslianok/react-responsive-tabs/compare/v4.3.0...v4.4.2#diff-bfe9874d239014961b1ae4e89875a6155667db834a410aaaa2ebe3cf89820556R147

[2021-11-29 09:59] MortenHofft opened #114 "Arrow navigation"
Thank you for sharing this

I have looked at https://www.w3.org/TR/wai-aria-practices/examples/tabs/tabs-2/tabs.html
and notice that the recommendation is to use arrow keys to navigate tabs. Is this something that you imagine supporting or is this one of those ARIA things where people disagree on what is the correct approach?

[2022-04-28 19:26] dpouliot opened #122 "A11y: cannot close tab via keyboard"
The subject line I think says it all. I can navigate tabs via the keyboard but cannot close them, making them inaccessible.
🇺🇦
Fix:
`<div class="RRT__removable-icon" tabindex="0">x</div>`

[2022-05-03 09:30] teaalltr opened #124 "IE support"
adding React polyfills isn't enough it seems

[2022-05-06 04:56] amarteragundi commented on #113
@grinyahoo Were you able to find a fix for this? I am also facing the same issue.  I am trying to add tabs dynamically. When i add more tabs I get this same issue.

[2022-05-12 13:33] grinyahoo commented on #113
@amarteragundi I've made a patched module:
[code]

[2022-06-07 12:27] saratoprak commented on #113
![image](https://user-images.githubusercontent.com/14004512/172378066-8a1ad3f5-ec75-4b66-978d-9bb480c8f0be.png)
 tabs show in two rows after added  many  dynamic tab  ,how can i fixed

[2022-06-17 21:04] elliotgonzalez-lk opened #126 "React 18 support"
Just wondering if React 18 support is planned?  Currently trying to install this package in a React 18 app throws a peer dependency error.  Thanks!

[2022-06-22 19:07] John-Lea opened #127 "Add Icons to the Tab Title"
Is there a way to add an icon to the tabs? Something like this would be ideal

![Screen Shot 2022-06-22 at 2 07 46 PM](https://user-images.githubusercontent.com/50181276/175117002-52f90701-8221-40eb-98c1-7b433b7851e6.png)

[2022-07-12 01:49] #127 closed, assigned to nobody